* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.password {
  height: 40px;
  width: 225px;
  margin-bottom: 20px;
}

/* .input-box {
  border: 2px solid red;
} */
.pass-show {
  position: relative;
  left: -30px;
  top: 4px;
  padding-top: 5px;
  height: 20px;
}
button {
  height: 45px;
  width: 120px;
  background-color: rgb(174, 237, 237);
}